.header {
  &_top {
    &_title {
      // color: red;
      margin-left: 150px;
    }
    &_logo {
    }
  }

  /*
  "header_bottom d-flex justify-content-between align-items-center">
			<div class="header_bottom_socials">
					<i class="fa fa-facebook"></i>
					<i class="fa fa-instagram"></i>
			</div>
		<div class="header_bottom_menu">
				<a href="#">Home</a>
				*/

  &_bottom {
    &_menu {
			margin-right: 100px;
      a {
        text-decoration: none;
        color: black;
        margin: 0 20px;
        font-weight: bold;
      }
    }

    &_socials {
      display: flex;
      text-decoration: none;
      list-style-type: none;
      margin-left: 50px;
      flex-wrap: nowrap;
			& > i {
				margin: 0 10px;
			}
    }
  }
}
