<div class="third-container p-3">
  <header class="header d-flex justify-content-between align-items-center">
    <div class="logo-container">
      <img class="logo"
      
      src="../../assets/images/LittleChefLogo.jpeg"
       alt="logo" />
    </div>
  </header>

  <h1 class="list-title">Account Info</h1>
  <table class="table table-light mt-3 w-75">
    <thead>
      <tr>
        <th scope="col" class="col-ob">Name</th>
        <th scope="col" class="col-bo">Account</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bob</td>
        <td>{{ accountAddress }}</td>
      </tr>
    </tbody>
  </table>


  <h2 class="list-title">Current Tokens</h2>

  <h3 class="list-title">What we have achieved so far - Winter 2022</h3>
  <table class="table table-sm table-dark mt-3">
    <thead>
      <tr>
        <th scope="col">Public Addr</th>
        <th scope="col">Reward type</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr class="col-bo-token">
        <td>{{ accountAddress }}</td>
        <td>Rew</td>
        <td>Val</td>
      </tr>
    </tbody>
  </table>

  <br />

  <div class="d-flex justify-content-around w-100 align-items-center">
    <div class="coupon-card">
      <h4 class="coupon-title">Get 5% off the classes</h4>

      <div class="text-center">
        <img
          class="long-img"
          src="../../assets/images/team_view3.jpg"
          alt="knife"
        />
      </div>
    </div>
    <div>
      <button class="btn btn-lg btn-dark blk-btn" (click)="handleUseDiscount()"> Use </button>
    </div>
  </div>

  <div class="d-flex mt-3 mb-5 justify-content-around w-100 align-items-center">
    <div class="coupon-card">
      <div class="coupon-card-title-container">
        <h4 class="coupon-title">Get free kitchen knife set</h4>
        <h4 class="coupon-title">Requirements - 5 points</h4>
      </div>

      <div class="text-center">
        <img
          class="short-img"
          src="../../assets/images/knife_view3.jpg"
          alt="knife"
        />
      </div>
    </div>
    <div>
      <button class="btn btn-lg btn-dark blk-btn" (click)="handleUsePoints()"> Use </button>
    </div>
  </div>

</div>
