.main-page {
	background-color: black; // rgb(29, 29, 29);
	height: 80vh;
	width: 100%;

	&_content {
		display: grid;
		grid-template-columns: 1fr 1.5fr;
		justify-content: center;
		align-items: center;

		&_img-container {

			&_img {
				// object-fit: contain;
			}
		}


	}

}